version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: 'chore:'
  - package-ecosystem: npm
    directory: /
    target-branch: main
    schedule:
      interval: weekly
    commit-message:
      prefix: 'chore:'
