name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          cache: yarn
          node-version: 20

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn run lint

  integration:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.53.2-jammy
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          cache: yarn
          node-version: 20

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Test
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          xvfb-run --auto-servernum yarn run test:ci
      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-traces
          path: test-results

  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          cache: yarn
          node-version: 20

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Test
        run: |
          yarn test:unit
